<div
  class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5">

    <div class="row g-5">

      <!-- Kurumsal -->
      <div class="col-lg-3 col-md-6">

        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
          Kurumsal
        </h4>

        <a class="btn btn-link" href="#about">
          Hakkımızda
        </a>

        <a class="btn btn-link" href="#contact">
          İletişim
        </a>

        <a class="btn btn-link" href="#reservation">
          Rezervasyon
        </a>

        <a class="btn btn-link" href="#">
          Gizlilik Politikası
        </a>

        <a class="btn btn-link" href="#">
          Kullanım Koşulları
        </a>

      </div>


      <!-- İletişim -->
      <div
        class="col-lg-3 col-md-6"
        *ngIf="contactInfo"
      >

        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
          İletişim
        </h4>

        <p class="mb-2">

          <i class="fa fa-map-marker-alt me-3"></i>

          {{ contactInfo.address }}

        </p>

        <p class="mb-2">

          <i class="fa fa-phone-alt me-3"></i>

          {{ contactInfo.phone }}

        </p>

        <p class="mb-2">

          <i class="fa fa-envelope me-3"></i>

          {{ contactInfo.email }}

        </p>


        <!-- Social Media -->
        <div class="d-flex pt-2">

          <a
            class="btn btn-outline-light btn-social"
            href="#"
            aria-label="Twitter"
          >
            <i class="fab fa-twitter"></i>
          </a>

          <a
            class="btn btn-outline-light btn-social"
            href="#"
            aria-label="Facebook"
          >
            <i class="fab fa-facebook-f"></i>
          </a>

          <a
            class="btn btn-outline-light btn-social"
            href="#"
            aria-label="YouTube"
          >
            <i class="fab fa-youtube"></i>
          </a>

          <a
            class="btn btn-outline-light btn-social"
            href="#"
            aria-label="LinkedIn"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>

        </div>

      </div>


      <!-- Çalışma Saatleri -->
      <div
        class="col-lg-3 col-md-6"
        *ngIf="contactInfo"
      >

        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
          Çalışma Saatleri
        </h4>

        <h5 class="text-light fw-normal">
          Açılış Saatleri
        </h5>

        <p>
          {{ contactInfo.openingHours }}
        </p>

        <p class="mb-1">
          Rezervasyon ve bilgi için:
        </p>

        <p class="text-light">
          {{ contactInfo.phone }}
        </p>

      </div>


      <!-- Bülten -->
      <div class="col-lg-3 col-md-6">

        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
          Bülten
        </h4>

        <p>
          Restoranımızdan haberler, yeni lezzetler ve özel fırsatlardan
          haberdar olmak için e-posta adresinizi bırakabilirsiniz.
        </p>

        <div
          class="position-relative mx-auto"
          style="max-width: 400px;"
        >

          <input
            class="form-control border-primary w-100 py-3 ps-4 pe-5"
            type="email"
            placeholder="E-posta adresiniz"
          >

          <button
            type="button"
            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
          >
            Kaydol
          </button>

        </div>

      </div>

    </div>

  </div>


  <!-- Footer Bottom -->
  <div class="container">

    <div class="copyright">

      <div class="row">

        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">MyAngularRestaurant</a>, Tüm Hakları Saklıdır.
        </div>

        <div class="col-md-6 text-center text-md-end">
          Tasarım ve Geliştirme:
          <a class="border-bottom" href="#">
            İsmail Baran KARASU
          </a>
        </div>
<br><br>
      </div>

    </div>

  </div>

</div>
