<div class="container-xxl py-5" id="about" *ngIf="about">
  <div class="container">
    <div class="row g-5 align-items-center">

      <div class="col-lg-6">
        <div class="row g-3">

          <div class="col-6 text-start">
            <img
              class="img-fluid rounded w-100 wow zoomIn"
              data-wow-delay="0.1s"
              src="https://cdn.create.vista.com/api/media/small/312096012/stock-photo-render-wooden-style-cafe-restaurant"
              alt="Restaurant"
            >
          </div>

          <div class="col-6 text-start">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.3s"
              src="https://qul.imgix.net/ea86defc-5815-44de-b435-f78b37253077/412313_sld.jpg"
              style="margin-top: 25%;"
              alt="Restaurant"
            >
          </div>

          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.5s"
              src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/93/1e/4d/saloon.jpg?w=900&h=500&s=1"
              alt="Restaurant"
            >
          </div>

          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-100 wow zoomIn"
              data-wow-delay="0.7s"
              src="https://qul.imgix.net/ea86defc-5815-44de-b435-f78b37253077/412315_sld.jpg"
              alt="Restaurant"
            >
          </div>

        </div>
      </div>

      <div class="col-lg-6">

        <h5 class="section-title ff-secondary text-start text-primary fw-normal">
          Hakkımızda
        </h5>

        <h1 class="mb-4">
          {{ about.title }}
        </h1>

        <p class="mb-4">
          {{ about.description }}
        </p>

      </div>

    </div>
  </div>
</div>
