<div class="w-100 bg-white p-0">

  <!-- Navbar & Hero Start -->
  <div class="position-relative p-0">

<nav class="restaurant-navbar navbar navbar-expand-lg">

  <div class="container-fluid px-4 px-lg-5">

    <!-- Logo -->
    <a href="#home" class="navbar-brand d-flex align-items-center">

      <i class="fa fa-utensils me-3"></i>

      <span>
        Restoran
      </span>

    </a>


    <!-- Mobile Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Menüyü Aç"
    >
      <i class="fa fa-bars"></i>
    </button>


    <!-- Navbar -->
    <div
      class="collapse navbar-collapse"
      id="navbarCollapse"
    >

      <div class="navbar-nav ms-auto align-items-lg-center">

        <a
          href="#home"
          class="nav-item nav-link"
        >
          Ana Sayfa
        </a>

        <a
          href="#about"
          class="nav-item nav-link"
        >
          Hakkımızda
        </a>

        <a
          href="#services"
          class="nav-item nav-link"
        >
          Hizmetler
        </a>

        <a
          href="#menu"
          class="nav-item nav-link"
        >
          Menü
        </a>

        <a
          href="#reservation"
          class="nav-item nav-link"
        >
          Rezervasyon
        </a>

        <a
          href="#contact"
          class="nav-item nav-link"
        >
          İletişim
        </a>

      </div>


      <!-- Reservation Button -->
      <a
        href="#reservation"
        class="btn btn-primary navbar-reservation-btn"
      >
        Rezervasyon Yap
      </a>

    </div>

  </div>

</nav>

    <div id="home">
      <app-feature></app-feature>
    </div>

  </div>
  <!-- Navbar & Hero End -->


  <!-- Services -->
  <div id="services">
    <app-service></app-service>
  </div>


  <!-- About -->
  <div id="about">
    <app-about></app-about>
  </div>


  <!-- Menu -->
  <div id="menu">
    <app-menu></app-menu>
  </div>


  <!-- Reservation -->
  <div id="reservation">
    <app-reservation></app-reservation>
  </div>


  <!-- Footer -->
  <div id="contact">
    <app-footer></app-footer>
  </div>


  <!-- Back to Top -->
  <a
    href="#home"
    class="btn btn-lg btn-primary btn-lg-square back-to-top"
  >
    <i class="bi bi-arrow-up"></i>
  </a>

</div>
